body{
  background-color: white;

}
#nav{
  background-color: rgb(243, 243, 243);
}
img{
  height: 800px;
  width: 800px;
}
#perfil{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#barra{
  color: black;
  font-family: Dotum;
  font-size: larger;
}
#logo{
  width: 200px;
  height: 200px;
}
#redes{
  height: 50px;
  width: 50px;
  border-radius: 10%;
}
p{
    text-align: center;
    font-family: Dotum;
    font-size: large;
}
h2{
  text-align: center;
  font-size: x-large;
  font-family: Dotum;
}
footer{
    text-align: center;
    background-color: rgb(243, 243, 243);
}
#foter{
    font-size: 80% ;
    font-family: Dotum ;
}
a{
    text-align: center;
    color: #000;
  }
a:hover{
    color: blue;
}
div{
    text-align: center;
    font-family: Dotum;
    font-size: large;
}

